#####################################################################
[filament_motion_sensor myBTT] ; BTT Smart Runout Sensor settings
#####################################################################
detection_length:               15             ; BTT v2.0 sensitivity is 3mm....increased to reduce false positives.  Lots of filament in reverse bowden anyway
extruder:                       extruder
switch_pin:                     !PB14
pause_on_runout:                True
#insert_gcode:
runout_gcode:
    M117 BTT Runout!                           ; display error
    _BEEP BEEPS=4                              ; beep the beeper
    _LCDRGB R=1 G=0 B=0                        ; turn LCD red
    PAUSE
    _RESETLCD                                  ; resume
    M117
#event_delay:
#   The minimum amount of time in seconds to delay between events.
#   Events triggered during this time period will be silently
#   ignored. The default is 3 seconds.
#pause_delay: 0.5
#   The amount of time to delay, in seconds, between the pause command
#   dispatch and execution of the runout_gcode. It may be useful to
#   increase this delay if OctoPrint exhibits strange pause behavior.
#   Default is 0.5 seconds.

#####################################################################
[delayed_gcode DISABLEmyBTT] ; disable sensor 1 sec after startup.
; only enable during printing in PRINT_START/PRINT_END    
#####################################################################
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=myBTT ENABLE=0