
##########################################################################
[heater_fan hotend_fan] ; FAN0 - Hotend fan
##########################################################################
pin:                        sht:FAN1
max_power:                  1.0
kick_start_time:            0.5
heater:                     extruder
heater_temp:                60


##########################################################################
[fan] ; FAN1 connector - Part fan
##########################################################################

pin:                        sht:FAN0
max_power:                  1.0
kick_start_time:            0.5
off_below:                  0.13
cycle_time:                 0.010


##########################################################################
[temperature_sensor SHT-36] ; Fly SHT-36 v2 CAN toolhead cpu
##########################################################################
sensor_type: temperature_mcu
sensor_mcu: sht


##########################################################################
[heater_fan SHT-36] ; Fly SHT-36 v2 CAN toolhead cooler
##########################################################################

pin:                        sht:PROBE_2
heater:                     extruder
max_power:                  1.0
heater_temp:                60          


;##########################################################################
;[heater_fan controller_fan] ; FAN2 - Electronics & MCU fan
;##########################################################################

;pin:                        PB2
;kick_start_time:            0.50
;heater:                     heater_bed, extruder
;fan_speed:                  0.50                                ; reduce CFM
;heater_temp:                45.0
;cycle_time:                 0.015                               ; quiet PWM


##########################################################################
[controller_fan controller_fan] ; FAN2 - Electronics & MCU fan
##########################################################################

pin:                        PB2
kick_start_time:            0.50
heater:                     heater_bed, extruder
stepper:                    stepper_x, stepper_y
idle_timeout:               600
fan_speed:                  0.55                                ; reduce CFM / noise
cycle_time:                 0.015                               ; quiet PWM


##########################################################################
[temperature_sensor Chamber] ; combine actual & toolhead sensors
##########################################################################
sensor_type: temperature_combined
sensor_list: temperature_sensor Chamber_Actual,temperature_sensor _Chamber_Toolhead
combination_method: mean
maximum_deviation: 100


##########################################################################
[temperature_sensor Chamber_Actual] ; gantry sensor
##########################################################################
sensor_type: Generic 3950
sensor_pin = PC1


##########################################################################
[temperature_sensor _Chamber_Toolhead] ; Fly SHT-36v2 CAN toolhead sensor
##########################################################################
sensor_type: ATC Semitec 104GT-2
sensor_pin = sht:TC0


##########################################################################
[temperature_fan _voc] ; PB7 (RBG-B)
##########################################################################

pin:                        PC8
sensor_type:                Generic 3950                        ; linked to keenovo bed thermistor
sensor_pin:                 PC3                                 ; linked to keenovo bed thermistor (dup pin override needed in printer.cfg)
kick_start_time:            0.5
max_speed:                  1.0
min_temp:                   0
max_temp:                   120                                 ; set as high or higher than source thermistor target otherwise klipper failsafes will trip an emergency shutdown
target_temp:                60                                  ; cutoff
control:                    watermark

##########################################################################
;[temperature_fan chamber] ; E1 OUT - Exhaust fan
##########################################################################

;pin:                        PC8
;max_power:                  1.0
;shutdown_speed:             0.0
;kick_start_time:            0.5
;off_below:                  0.10
;sensor_type:                Generic 3950
;sensor_pin:                 PC1
;min_temp:                   0
;max_temp:                   60.0
;target_temp:                0
;cycle_time:                 0.025                               ; quiet PWM
;max_speed:                  1.0 
;min_speed:                  0.0
;control:                    pid                                 ; manual PID profile
;pid_kp:                     1.0
;pid_ki:                     0.5
;pid_kd:                     2.0
;pid_deriv_time:             2.0


##########################################################################
[temperature_fan _bed_fan] ; PB7 (RBG-B)
##########################################################################

pin:                        PB7
sensor_type:                Generic 3950                        ; linked to keenovo bed thermistor
sensor_pin:                 PC3                                 ; linked to keenovo bed thermistor (dup pin override needed in printer.cfg)
kick_start_time:            0.5
max_speed:                  1.0
min_temp:                   0
max_temp:                   120                                 ; set as high or higher than source thermistor target otherwise klipper failsafes will trip an emergency shutdown
target_temp:                60
control:                    watermark


##########################################################################
[temperature_sensor Spider] ; MCU sensor
##########################################################################

sensor_type: temperature_mcu
max_temp: 85


##########################################################################
[temperature_sensor Pi] ; Raspberry Pi sensor
##########################################################################

sensor_type: temperature_host
max_temp: 85


##########################################################################
[temperature_sensor MMU] ; Fly ERCF CAN MMU sensor
##########################################################################

sensor_type: temperature_mcu
sensor_mcu: mmu


##   Common Temperature Sensors
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "Generic 3950"
##   "NTC 100K beta 3950" - Deprecated
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"
##   "PT1000"
