#####################################################################
[gcode_macro PRINTER_OFF] ; shutdown macro. needs a custom process
; as its not possible to issue delayed tasmota power off using 
; moonraker power device to allow time for the Pi to shutdown. 
; the power off delay is set in mypowerdown.sh script
#####################################################################
gcode:
  
  M400                                                          ; wait for moves to finish
  M117 Auto off in 10s
  SET_LOGO_LEDS_OFF                                             ; set stealth burner status LED to OFF
  SET_NOZZLE_LEDS_OFF                                           ; set stealth burner nozzle LEDs to off
  _CASELIGHTS_OFF                                               ; turn case lights off
  RUN_SHELL_COMMAND CMD=POWER_OFF
  M117 Shutting Pi down
  _SHUTDOWN_PI                                                  ; the moonraker remote actions MUST be executed in a separate macro FFS!
 
#####################################################################
[gcode_shell_command POWER_OFF] ; power off assoicated tasmota device
#####################################################################

command: /home/pi/printer_data/config/scripts/mypoweroff.sh
    timeout: 10
    verbose: true

#####################################################################
[gcode_macro _SHUTDOWN_PI] ; remote moonraker shutdown
; NOTE!!! this must be called from a separate macro to make sure 
; shutdown commands in the maing PRINTER_OFF macro work as expected.
#####################################################################
gcode:
  {action_call_remote_method("shutdown_machine")}