[Unit]
Description=Sets Arducam camera focus
After=network.target
[Service]
Type=simple
User=pi
RemainAfterExit=no
ExecStart=/usr/bin/python3 -u /home/pi/printer_data/config/scripts/myfocus.py       
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=no
[Install]
WantedBy=multi-user.target
