#####################################################################
[gcode_macro BLOBIFIER_SET] 
#####################################################################

; Call to pass slicer retraction and purge settings before T<0> statement in Slicer Filament Change Gcode section
; e.g. BLOBIFIER_SET SLICER_PURGE=[flush_length] SLICER_RETRACTION={old_retract_length} SLICER_FW_RETRACTION={use_firmware_retraction}
  
gcode:
  {% set slicer_purge         = params.SLICER_PURGE|default(0)|float %}                         # slicer argument: flush_length
  {% set slicer_fw_retraction = params.SLICER_FW_RETRACTION|default(false)|lower == 'true' %}   # slicer argument: slicer use_firmware_retraction
  {% set slicer_retraction    = params.SLICER_RETRACTION|default(00)|float %}                   # slicer argument: old_retract_length
  
  {% if slicer_fw_retraction and printer.firmware_retraction is defined %} # check hardware retraction is enabled in both slicer & printer 
     {% set slicer_retraction    = 0.0 %}
  {% else %}
     {% set slicer_fw_retraction = false %}
  {% endif %} 

  SET_GCODE_VARIABLE MACRO=BLOBIFIER VARIABLE=slicer_fw_retraction VALUE='{slicer_fw_retraction}'  
  SET_GCODE_VARIABLE MACRO=BLOBIFIER VARIABLE=slicer_retraction VALUE={slicer_retraction}
  
  {% if slicer_purge > 0 %}
     SET_GCODE_VARIABLE MACRO=BLOBIFIER VARIABLE=slicer_purge VALUE={slicer_purge}
  {% endif %}  
