#####################################################################
[gcode_macro BACKUP] ; backup klipper config directory to GIT Hub
#####################################################################
; https://github.com/th33xitus/kiauh/wiki/How-to-autocommit-config-changes-to-github

gcode:
  RUN_SHELL_COMMAND CMD=backup_cfg
    
[gcode_shell_command backup_cfg]

command: bash /home/pi/printer_data/config/scripts/mygitbackup.sh
timeout: 20
verbose: True

#####################################################################
[gcode_macro INPUT_SHAPER] ; process input shaper data files
#####################################################################
gcode:
  RUN_SHELL_COMMAND CMD=input_shaper
    
[gcode_shell_command input_shaper]

command: sh /home/pi/printer_data/config/scripts/myinputshaper.sh
timeout: 30
verbose: True

#####################################################################
[gcode_macro FOCUS] ; focus arducam work around for systemctl startup issue
#####################################################################

gcode:
  RUN_SHELL_COMMAND CMD=myfocus
    
[gcode_shell_command myfocus]

command: sh '/usr/bin/systemctl restart myfocus'
timeout: 5
verbose: True

#####################################################################
[delayed_gcode _CLEARLCD] 
; tidy up and clear M117 LCD display message line after n-seconds
; use: insert after M117 - UPDATE_DELAYED_GCODE ID=_CLEARLCD DURATION=4
#####################################################################
gcode:
  M117

;#####################################################################
;[gcode_macro _BEEP]; PWM 12864 display Beep. 
; Multiple beeps with beeps=3
;#####################################################################
;gcode:
;  {% set beeps = params.BEEPS|default(1)|int %}
;  {% set beepms = params.BEEPMS|default(1)|int %}
;  {% set waitms = params.WAITPMS|default(1)|int %}
    
;  {% for beep in range(beeps|int) %}
;     SET_PIN PIN=beeper VALUE=0.8
;     G4 P{beepms}
;     SET_PIN PIN=beeper VALUE=0
;     G4 P{waitms}
;  {% endfor %}

#####################################################################
[gcode_macro DUMPVARS] ; dump all klipper variables to help in macros
#####################################################################

gcode:
  {% set filter_name =  params.NAME|default('')|string|lower %}
  {% set filter_value = params.VALUE|default('')|string|lower %}
  {% set show_cfg =     params.SHOW_CFG|default(0)|int %}
    
  {% set out = [] %}

  {% for key1 in printer %}
    {% for key2 in printer[key1] %}
       {% if (show_cfg or not (key1|lower == 'configfile' and key2|lower in ['config', 'settings'])) and (filter_name in key1|lower or filter_name in key2|lower) and filter_value in printer[key1][key2]|string|lower %}
          {% set dummy = out.append("printer['%s'].%s = %s" % (key1, key2, printer[key1][key2])) %}
       {% endif %}
    {% else %}
       {% if filter_name in key1|lower and filter_value in printer[key1]|string|lower %}
          {% set dummy = out.append("printer['%s'] = %s" % (key1, printer[key1])) %}
       {% endif %}
    {% endfor %}
  {% endfor %}
    
  {action_respond_info(out|join("\n"))}

#####################################################################
[gcode_macro ERCF_SERVO] ; ERCF servo control
#####################################################################

gcode:
  {% set UP = params.UP|default(1)|int %}                   ; option to set servo up or down - default up
  {% if UP|int == 1 %}
     ERCF_SERVO_UP
  {% else %}
     ERCF_SERVO_DOWN
  {% endif %}

#####################################################################
[gcode_macro SET_PA] 
#####################################################################

gcode: 

  {% set lookup_table = { 
    "ABS": { 
      "0.4": 0.038, 
      "0.6": 0.025 
    }, 
    "PETG": { 
      "0.4": 0.038, 
      "0.6": 0.025 
    }, 
    "PLA": { 
      "0.4": 0.038, 
      "0.6": 0.025 
    }, 
  } %} 

  {% set nozzle   = params.NOZZLE_DIAMETER %} 
  {% set material = params.MATERIAL_TYPE %} 

  {% if material in lookup_table and nozzle in lookup_table[material] %} 
    M118 SET_PRESSURE_ADVANCE ADVANCE={lookup_table[material][nozzle]} 
  {% else %} 
    M118 WARNING: No pressure advance setting found for {material}@{nozzle}mm 
  {% endif %} 
