[gcode_macro PELLET]
gcode:
    M106 S255                      ;partcooling fan max
    ;CLEAN                          ;call clean macro
    G1  Z10 F3000                  ;move up by 10 to avoid objects
    G1  X15 Y5 F15000              ;move to purge position
    G1  Z0.3 F3000                 ;move to purge position
    G91                            ;incremental positioning
    G1  Z0.2 E30 F3                ;prime hotend
    G1  Z2.0 E25 F30               ;purge and move up
    G1  Z4.0 E20 F60               ;purge and move up
    G1  Z2.0 E10 F240              ;purge and move up
    G1  Z10  E-0.1 F3600           ;move up by 10 and retract slightly
    G4  P2000
    G1  Y55 Z-18.25 F3000          ;move to wiping start
    G1  Y10 F3000                  ;wipe back
    G1  Y-10 F3000                 ;wipe forth
    G1  Y10 F3000                  ;wipe back
    G1  Y-10 F3000                 ;wipe forth
    G1  Y-55 F3000                 ;wipe end and kick off the poop pellet
    M107                           ;turn cooling fan off
    G1  Z2.0  F3000                ;move up
    G1  Y55   F7000                ;move from pellet bin quickly!
    M82                            ;extruder absolute
    G92 E0.0                       ;extruder reset
    G90                            ;absolute positioning
    M107                           ;partcooling fan off



[gcode_macro TIP2]
gcode:

     SAVE_GCODE_STATE NAME=MMU_FORM_TIP_state

    SET_PRESSURE_ADVANCE ADVANCE=0.0
    M82
    G1 E-00.30 F4200       ;HAMMER
    G1 E-10.00 F6000
    G1 E-00.40 F4200       ;HAMMER
    G1 E-10.00 F6000
    G1 E-00.50 F4200       ;HAMMER
    G1 E-10.00 F6000
    G1 E-23.5 F6000       ;COOLING START
    G1 E-8.3 F1200       ;COOLING DOWN
    G1 E-23.5 F6000       ;COOLING START
    G1 E-8.3 F1200       ;COOLING DOWN
    G1 E-23.5 F6000       ;COOLING START
    G1 E-8.3 F1200       ;COOLING DOWN
    G1 E-23.5 F6000       ;COOLING START

    G1 E-00.70 F4200       ;SKINNYDIP INSERT
    G1 E-24.0 F4200       ;SKINNYDIP RETRACT
    ;G1 E-25.00 F240        ;COOLING START
    ;G1 E-45.00 F300        ;COOLING UP
    G1 E-90 F{125*60}          ;PARK
    ;G1 E-82 F1800          ;EJECT ALL THE WAY
    RESTORE_GCODE_STATE NAME=MMU_FORM_TIP_state
    M83
    G92 E0


[gcode_macro TIP]
gcode:

    {% set park_vars = printer['gcode_macro _MMU_PARK'] %}
    
    SAVE_GCODE_STATE NAME=ALT_TIP_FORM
    ;SET_PRESSURE_ADVANCE ADVANCE=0.0

    M83 # Relative extrusion
    G92 E0

    {% if park_vars.retracted_length > 0 %}
        _MMU_UNRETRACT
    {% endif %}

    {% set unloading_speed_start      = 80|int %}
    {% set unloading_speed            = 20|int %}

    {% set cooling_tube_length        = 15|float %}
    {% set cooling_tube_position      = 16|float %}
    {% set initial_cooling_speed      = 20|int %}
    {% set final_cooling_speed        = 125|int %}
    {% set cooling_moves              = 3|int %}

    {% set cooling_zone_pause         = 0|int %}
    {% set extruder_eject_speed       = 125|int %}

    {% set formtip_distance           = 8|float %}
    {% set formtip_ramming            = 0.8|float %}
    {% set formtip_speed              = 100|int %}

    {% set use_skinnydip              = True %}
;    {% set skinnydip_distance         = 22|float %}
    {% set skinnydip_distance         = 0|float %}
    {% set dip_insertion_speed        = 50|int %}
    {% set dip_extraction_speed       = 70|int %}
    {% set melt_zone_pause            = 250|int %}

    {% set parking_distance           = 0|float %}
    {% set final_eject                = False %}
    
    G1 E{formtip_ramming   * 0.60|round(2)} F{formtip_speed * 0.50 * 60}                     ; 70% speed, 60% ram distance at start
    G1 E-{formtip_distance + formtip_ramming * 0.60|round(2)} F{formtip_speed * 60}          ; fast withdrawal
    G1 E{formtip_distance  + formtip_ramming * 0.80|round(2)} F{formtip_speed * 0.50 * 60}   ; 70% speed, 80% ram distance
    G1 E-{formtip_distance + formtip_ramming * 0.80|round(2)} F{formtip_speed * 60}          ; fast withdrawal
    G1 E{formtip_distance  + formtip_ramming} F{formtip_speed * 0.50 * 60}                   ; 70% speed, 100% ram distance
    G1 E-{formtip_distance + formtip_ramming} F{formtip_speed * 60}                          ; fast withdrawal

    {% set retract = cooling_tube_position + cooling_tube_length / 2 - formtip_distance + formtip_ramming %}
    {% set adjust = (0 if retract >= 0 else retract|abs) %} ; adjust extrusion distances incase top of cooling zone < minimum slicer retract distance

    {% if retract > 0 %} ; back out the rest of the way
        G1 E-{(0.7 * retract)|round(2)} F{1.0 * unloading_speed * 60}
        G1 E-{(0.2 * retract)|round(2)} F{0.5 * unloading_speed * 60}
        G1 E-{(0.1 * retract)|round(2)} F{0.3 * unloading_speed * 60}
    {% else %}
        { action_respond_info('mmu_form_tip: Top of cooling tube is %.1fmm below min 10mm retraction. Increase to %.1fmm.' % (retract, cooling_tube_position + adjust)) }
    {% endif %}

    {% set speed_inc = (final_cooling_speed - initial_cooling_speed) / (2 * cooling_moves - 1) %}
    {% for move in range(cooling_moves) %}
        {% set speed = initial_cooling_speed + speed_inc * move * 2 %}
        G1 E{cooling_tube_length} F{speed * 60}
        G1 E-{cooling_tube_length} F{(speed + speed_inc) * 60}
    {% endfor %}

    {% if use_skinnydip %}
        {% if skinnydip_distance == 0 %}
            {% set skinnydip_distance = cooling_tube_position + cooling_tube_length / 2 + formtip_ramming %} ; calculate skinny dip
            { action_respond_info('tip: Using calculated Skinnydip distance %.1fmm' % (skinnydip_distance)) }
        {% endif %}

        G1 E{skinnydip_distance - adjust} F{dip_insertion_speed * 60}
        G4 P{melt_zone_pause}
        G1 E-{skinnydip_distance - adjust} F{dip_extraction_speed * 60}
        G4 P{cooling_zone_pause}
    {% endif %}
  
    # Step 5 - Parking
    # Optional park filament at fixed location or eject completely (testing)
    {% if final_eject %}
        G92 E0
        G1 E-80 F{extruder_eject_speed * 60}
    {% elif parking_distance > 0 %}
        M82 # Absolute extrusion
        G1 E-{parking_distance} F{extruder_eject_speed * 60}
    {% endif %}

    RESTORE_GCODE_STATE NAME=ALT_TIP_FORM
     
    ;G92 E-52           ;SAME AS SLICER PARKING POSITION

    ;M82
    ;G1 E-00.30 F4200       ;HAMMER
    ;G1 E-10.00 F6000
    ;G1 E-00.40 F4200       ;HAMMER
    ;G1 E-10.00 F6000
    ;G1 E-00.50 F4200       ;HAMMER
    ;G1 E-10.00 F6000
    ;G1 E-45.00 F1800       ;COOLING START
    ;G1 E-25.00 F1200       ;COOLING DOWN
    ;G1 E-45.00 F1200       ;COOLING UP
    ;G1 E-25.00 F1200       ;COOLING DOWN
    ;G1 E-45.00 F1200       ;COOLING UP
    ;G1 E-25.00 F1200       ;COOLING DOWN
    ;G1 E-45.00 F1200       ;COOLING UP
    ;G1 E-25.00 F1200       ;COOLING DOWN
    ;G1 E-45.00 F1200       ;COOLING UP
    ;G1 E-00.70 F4200       ;SKINNYDIP INSERT
    ;G1 E-45.00 F4200       ;SKINNYDIP RETRACT
    ;G1 E-25.00 F240        ;COOLING START
    ;G1 E-45.00 F300        ;COOLING UP
    ;G1 E-52 F1800          ;PARK
    ;G1 E-82 F1800          ;EJECT ALL THE WAY
    ;RESTORE_GCODE_STATE NAME=HAMMER_TIME
    ;M83
    ;G92 E0
